@import "common/mixin";

@mixin report() {
  @include backgroundLayout(#ffffff, black);
  border-bottom: 1px solid #e5e5e5;
}

.trip-sheet {
  @include report;
  @include fontLayout(1em, 700);
  display: flex;
  padding: 1rem;
  margin: 1em 21em  1em 3em;
  justify-content: space-around;
}

.main-content {
  @include widthHeightLayout(93.5%, 400px);
  padding-left: 3em;
  border: 19em;
}

.trip-sheet-footer {
  @include report;
  @include fontLayout(1em, 500);
  display: flex;
  padding: 3em 3em 3em 1em;
  opacity: 0.9;
  margin: 1em 9em  1em 3em;
  justify-content: space-between;
  .container {
    .value {
      margin-left: 2em;
      font-weight: 700;
    }
    span {
      margin-left: 1em;
    }
  }

}

@media (max-width: 765px) {
  .trip-sheet {
    margin: 1em 21em  1em 1em;
  }
  .main-content {
    padding-left: 1em;
    width: 92.5%;
  }
  .trip-sheet-footer {
    margin: 1em 2em 1em 1em;
    padding: 1em 0 1em 1em;
    display: flex;
    flex-wrap: wrap;       /* allow items to go to next line */
    gap: 21px;
    .container {
      flex: 0 0 calc(50% - 11px); /* 2 per row */
    }
  }
}
