@import "src/styles/components/common/color";

$background-color: #303E44;

.MuiDataGrid-mainContent {
  .MuiDataGrid-topContainer {
    color: $white;

    .MuiDataGrid-columnHeaders {
      .MuiDataGrid-filler {
        background: $background-color;
      }
    }

    .MuiDataGrid-columnHeaders {
      .MuiDataGrid-row--borderBottom {
        .MuiDataGrid-columnHeader--sortable {
          background: $white;
        }

        .MuiDataGrid-columnHeader {
          background: $background-color;

          .MuiDataGrid-columnHeaderDraggableContainer {
            .MuiDataGrid-columnHeaderTitleContainer {
              .MuiDataGrid-columnHeaderTitleContainerContent {
                .MuiDataGrid-columnHeaderTitle {
                  font-weight: 700;
                  font-size: 14px;
                }
              }
            }
          }

          .MuiSvgIcon-root {
            color: $white;
          }
        }
      }
    }
  }
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: #f5f5f5;
}
