$background-color: #303E44;
$font-color: #FFFFFF;

.MuiDataGrid-mainContent {
  .MuiDataGrid-topContainer {
    color: $font-color;

    .MuiDataGrid-filler {
      background: $background-color;
    }

    .MuiDataGrid-columnHeaders {
      .MuiDataGrid-row--borderBottom {
        .MuiDataGrid-columnHeader--sortable {
          background: $font-color;
        }
        .MuiDataGrid-columnHeader {
          background: $background-color;

          .MuiDataGrid-columnHeaderDraggableContainer {
            .MuiDataGrid-columnHeaderTitleContainer {
              .MuiDataGrid-columnHeaderTitleContainerContent {
                .MuiDataGrid-columnHeaderTitle {
                  font-weight: 700;
                  font-size: 14px;
                }
              }
            }
          }
          .MuiSvgIcon-root {
            color: $font-color;
          }
        }
      }
    }
  }
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: #f5f5f5
}
