@import './variables';
@import './mixins.scss';
@import "~bootstrap/scss/bootstrap";

@import "react-datepicker/dist/react-datepicker.css";

@import "components/SignInForm";
@import "components/sidebar-menu";
@import "components/header";
@import "components/report";
@import "components/trip-sheet";
@import "components/loader";
@import "components/profile";

@import "components/controls/mui-table";
@import "components/controls/date-pickr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
  background: #030014;
  color: $primary-color;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;   /* ❌ disable horizontal scroll */
  overflow-y: auto;     /* ✅ allow vertical scroll */
}

.react-tooltip {
  z-index: 1000;
}

.show-pointer {
  cursor: pointer;
}
